* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 3vw;
  }
  :root {
    --blue: rgb(0, 0, 255);
    --greyishblue: rgb(78, 123, 138);
    --lightblue: rgb(64, 153, 231);
    --transparentblue: rgba(255, 255, 255, 0.2);
    --red: rgb(255, 0, 0);
  }
  
  body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content:center;
    background-color: var(--greyishblue);
  }
  
  main {
    position: relative;
    background-color: var(--lightblue);
    width: 50vw;
    height: 100%;
    padding: 2vw;
    overflow: hidden;
    
  }
  #top {
    justify-content: space-between;
  }
  .item {
    width: 70%;
    word-break: break-all;
  }
  .info {
    font-size: 2vw;
  }
  .hide_info {
    display: none;
  }
  .items {
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 5%;
    display: flex;
    max-height: 80%;
    overflow: auto;
    flex-direction: column;
    gap: 1vw;
  }
  
  /* todo item */
  .dbox {
    position: relative;
    background-color: var(--transparentblue);
    padding: 1vw;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .del {
    position: absolute;
    right: 5px;
    height: 3vw;
    width: auto;
  }
  .enter {
    display: flex;
    padding: 1vw;
    justify-content: space-between;
  }
  input[type="textarea"] {
    width: 70%;
    word-wrap: break-word;
  }
  
  button {
    width: 25%;
    border: none;
    color: aliceblue;
    background-color: var(--blue);
  }
  
  /* style for animation  */
  .dele {
    position: relative;
    animation: moveLeft 0.3s;
  }
  
  @keyframes moveLeft {
    from {
      left: 0;
    }
    to {
      left: -150%;
    }
  }
  
  #top {
    display: flex;
    gap: 20%;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(134, 133, 136);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(6, 80, 145);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(94, 199, 238);
  }
  